nav{
  background-color: #e67300;
}

nav .brand-logo{
    padding-left: 10px;
  }

.dropdown-content li > a {
  color: black;
}

.btn-floating i{
  background-color: #ff8c1a;
  color : #006bb3;
}

main{
  border: 1px solid #e0e0e0;
  margin: 50px;
}

.log{
  width: 500px;
  height: 400px;
  border: 1px solid #e0e0e0;
  margin-top: 50px;
  padding-top: 10px;
  text-align: center;
}

.row{
  margin-top: 20px;
}

/*MOBILE DIPLAY*/

@media screen and (max-width: 480px){

nav .brand-logo{
    font-size: 1.3rem;
  }

th {
  font-size: 0.85rem;
}

main{
  margin: 10px;
}

.log{
  width: 300px;
  text-align: center;
}

.row{
  margin-top: 20px;
}
